<div class="form-container">
    <h2 style="text-align: center;font-weight: 800;">Apply Link Admin Form</h2>
    <form [formGroup]="applyForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

        <div class="form-group">
            <label>Job ID</label>
            <input type="text" formControlName="jobId" />
        </div>

        <div class="form-group">
            <label>Job Title</label>
            <input type="text" formControlName="jobTitle" required />
        </div>

        <div class="form-group">
            <label>Job Description</label>
            <textarea rows="4" cols="12" formControlName="jobDescription" required></textarea>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="experience">Experience (in years)</label>
                <select id="experience" formControlName="experience" required>
                    <option value="" disabled>Select experience</option>
                    <option *ngFor="let year of experienceOptions" [value]="year">{{ year }}</option>
                </select>
            </div>

            <div class="form-group">
                <label>No. of Openings</label>
                <input type="number" formControlName="openPositionsNo" required />
            </div>
        </div>

        <div class="form-group">
            <!-- Selected Skills Display -->
            <div *ngIf="selectedSkills.length > 0" class="selected-skills">
                <label>Selected Skills:</label>
                <div *ngFor="let skill of selectedSkills" class="skill-tag">
                    {{ skill }}
                    <button type="button" (click)="removeSkill(skill)">x</button>
                </div>
            </div>

            <!-- Multi-select Dropdown -->
            <label>Skills</label>
            <select formControlName="skills" multiple required (change)="onSkillsChange($event)">
                <option value="" disabled>Select Skills</option>
                <option *ngFor="let skill of skillOptions" [value]="skill">{{ skill }}</option>
            </select>
        </div>
        
        <div class="form-row">
            <div class="form-group" style="margin-bottom:20px ;">
                <label style=" padding-right: 20px;">Start date</label>
                <input type="date" formControlName="startDate" required />
            </div>
            <div class="form-group">
                <label style=" padding-right: 20px;">End Date</label>
                <input type="date" formControlName="endDate" required />
            </div>
        </div>

        <button type="submit" [disabled]="!applyForm.valid">Submit</button>
    </form>
</div>